<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
  <body>
  <div>
    <a th:href="@{/orders/new}" class="btn btn-primary" type="submit">Create Orders</a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Ref.</th>
        <th>Customer</th>
        <th>Date</th>
        <th>Planned date of delivery</th>
        <th>Payment terms</th>
        <th>Payment type</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order:${orders}" th:object="${order}">
        <td th:text="*{reference}"></td>
        <td th:if="${order.customer != null}" th:text="*{customer.customerReference}"></td>
        <td th:if="${order.customer == null}">REF</td>
        <td th:date="*{date}"></td>
        <td th:date="*{plannedDateDelivery}"></td>
        <td th:text="*{paymentTerms}"></td>
        <td th:text="*{paymentTypes}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  </body>
</th:block>
</html>