<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<div>
    <form method="post" th:action="@{/customers/new}" th:object="${customer}">

        <lable for="customerReference">Ref. customer</lable>
        <input type="text" id="customerReference" th:field="*{customerReference}"/>

        <lable for="date">Date</lable>
        <input type="date" id="date" th:field="*{date}"/>

        <label for="paymentTerms">Source</label>
        <select id="paymentTerms" th:field="*{paymentTerms}">
            <option value=""></option>
            <option
                    th:each="paymentTerms :${T(com.gitlab.adilcan.erp.domain.PaymentTerms).values()}"
                    th:value="${paymentTerms}"
                    th:text="${paymentTerms}">
            </option>
        </select>

        <br>

        <label for="availabilityDelay">Availability delay</label>
        <select id="availabilityDelay" th:field="*{availabilityDelay}">
            <option value=""></option>
            <option
                    th:each="availabilityDelay :${T(com.gitlab.adilcan.erp.domain.AvailabilityDelay).values()}"
                    th:value="${availabilityDelay}"
                    th:text="${availabilityDelay}">
            </option>
        </select>

        <br>

        <label for="shippingMethod">Shipping method</label>
        <select id="shippingMethod" th:field="*{shippingMethod}">
            <option value=""></option>
            <option
                    th:each="shippingMethod :${T(com.gitlab.adilcan.erp.domain.ShippingMethod).values()}"
                    th:value="${shippingMethod}"
                    th:text="${shippingMethod}">
            </option>
        </select>

        <br>

        <label for="deliveryDate">Delivery Date</label>
        <input type="date" id="deliveryDate" th:field="*{deliveryDate}"/>

        <br>

        <label for="incoTerms">Incoterms</label>
        <select id="incoterms" th:field="*{incoterms}">
            <option value=""></option>
            <option
                    th:each="incoTerms :${T(com.gitlab.adilcan.erp.domain.IncoTerms).values()}"
                    th:value="${incoTerms}"
                    th:text="${incoTerms}">
            </option>
        </select>

        <br>

        <label for="defaultDocTemplate">Incoterms</label>
        <select id="defaultDocTemplate" th:field="*{defaultDocTemplate}">
            <option value=""></option>
            <option
                    th:each="defaultDocTemplate :${T(com.gitlab.adilcan.erp.domain.DefaultDocTemplate).values()}"
                    th:value="${defaultDocTemplate}"
                    th:text="${defaultDocTemplate}">
            </option>
        </select>

    </form>
</div>
</body>
</html>