<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<div>
    <table>
        <thead>
            <tr>
                <th>Ref.</th>
                <th>Ref. customer</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Planned date of delivery</th>
                <th>Payment terms</th>
                <th>Payment type</th>
                <th>Availability delay</th>
                <th>Shipping method</th>
                <th>Source</th>
                <th>Incoterms</th>
                <th>Default doc template</th>
                <th>Currency</th>
                <th>Note (public)</th>
                <th>Note (private)</th>
            </tr>
        </thead>
        <tbody>
               <tr th:each="customer:${customer}" th:object="${customer}">
                    <td th:text="*{date}"></td>
                    <td th:text="*{source}"></td>
                    <td th:text="*{availabilityDelay}"></td>
                    <td th:text="*{shippingMethod}"></td>
                    <td th:text="*{deliveryDate}"></td>
                    <td th:text="*{incoTerms}"></td>
                    <td th:text="*{defaultDocTemplate}"></td>
               </tr>
            </tr>
        </tbody>
    </table>
</div>


</body>
</html>