<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
  <head>

  </head>
  <body>
  <div>
    <a th:href="@{/customers/new}" class="btn btn-primary" type="submit">Create Customer</a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Ref. customer</th>
        <th>Date</th>
        <th>Planned date of delivery</th>
        <th>Payment Terms</th>
        <th>Payment Types</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="customer:${customers}" th:object="${customer}">
        <td th:text="*{customerReference}"></td>
        <td th:text="*{date}"></td>
        <td th:text="*{deliveryDate}"></td>
        <td th:text="*{paymentTerms}"></td>
        <td th:text="*{paymentTypes}"></td>
      </tr>
      </tbody>
    </table>
  </div>


  </body>
</th:block>
</html>