<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
  <head>

  </head>
  <body>
  <div>
      <form method="post" th:action="@{/contracts/new}" th:object="${contract}">

      <div class="form-group">
        <label for="reference">Ref.</label>
        <input class="form-control" type="text" id="reference" th:field="*{reference}"/>
      </div>

      <div class="form-group">
        <label for="customer">Customer</label>
        <select class="form-control" id="customer" th:field="*{customer}">
          <option value="">Customer</option>
          <option
              th:each="customer : ${customers}"
              th:value="${customer.id}"
              th:text="${customer.customerReference}">
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="supplier">Supplier</label>
        <select class="form-control" id="supplier" th:field="*{supplier}">
          <option value="">Supplier</option>
          <option
              th:each="supplier : ${suppliers}"
              th:value="${supplier.id}"
              th:text="${supplier.supplierReference}">
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="thirdParties">Third Parties</label>
        <select class="form-control" id="thirdParties" th:field="*{thirdParty}">
          <option value="">Third Parties</option>
          <option
              th:each="thirdParty : ${thirdParties}"
              th:value="${thirdParty.id}"
              th:text="${thirdParty.reference}">
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="followingUpContract">Following-up contract</label>
        <select class="form-control" id="followingUpContract" th:field="*{followingUpContract}">
          <option value="">Following-up Contract</option>
          <option
              th:each="contract : ${contracts}"
              th:value="${contract.id}"
              th:text="${contract.reference}">
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="signingContract">Signing contract</label>
        <select class="form-control" id="signingContract" th:field="*{signingContract}">
          <option value="">Signing Contract</option>
          <option
              th:each="contract : ${contracts}"
              th:value="${contract.id}"
              th:text="${contract.reference}">
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input class="form-control" type="date" id="date" th:field="*{date}"/>
        <br>
        <label for="publicNote">Note (public)</label>
        <textarea class="form-control" type="text" id="publicNote" th:field="*{publicNote}"/>
        <br>
        <label for="privateNote">Note (private)</label>
        <textarea class="form-control" type="text" id="privateNote" th:field="*{privateNote}"/>
      </div>

      <button class="btn btn-primary" type="submit">Create</button>
    </form>
  </div>
  </body>
</th:block>
</html>