<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<<div>
    <table>
        <thead>
        <tr>
            <th>Ref.</th>
            <th>Planned date of delivery</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="supplier:${suppliers}" th:object="${supplier}">
            <td th:text="*{supplierReference}"></td>
            <td th:date="*{plannedDeliveryDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>