<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>

</head>
<body>
<div>
  <form method="post" th:action="@{services/new}" th:object="${service}">

    <label for="reference">Ref.</label>
    <input type="text" id="reference" th:field="*{reference}"/>

    <br>

    <label for="label">Label</label>
    <input type="text" id="label" th:field="*{label}"/>

    <br>

    <label for="saleStatus">Status (Sales)</label>
    <select id="saleStatus" th:field="*{saleStatus}">
      <option value="">Sale Status</option>
      <option
          th:each="saleStatus : ${T(com.gitlab.adilcan.erp.domain.SaleStatus).values()}"
          th:value="${saleStatus}"
          th:text="${saleStatus}">
      </option>
    </select>

    <br>

    <label for="purchaseStatus">Status (Purchase)</label>
    <select id="purchaseStatus" th:field="*{purchaseStatus}">
      <option value="">Purchase Status</option>
      <option
          th:each="purchaseStatus : ${T(com.gitlab.adilcan.erp.domain.PurchaseStatus).values()}"
          th:value="${purchaseStatus}"
          th:text="${purchaseStatus}">
      </option>
    </select>

    <br>

    <label for="description">Description</label>
    <textarea type="text" id="description" th:field="*{description}"/>

    <br>

    <label for="publicUrl">Public URL</label>
    <input type="url" id="publicUrl" th:field="*{publicUrl}"/>

    <br>

    <label for="durationValue">Duration Value</label>
    <input type="text" id="durationValue" th:field="*{durationValue}"/>

    <br>

    <label>Duration Type</label>

    <div>

      <div>
        <input type="radio" th:name="durationType" th:text="*{durationType}" th:value="HOUR" th:checked="checked"/>
        <label>Hour</label>
      </div>

      <div>
        <input type="radio" th:name="durationType" th:text="*{durationType}" th:value="DAY"/>
        <label>Day</label>
      </div>


      <div>
        <input type="radio" th:name="durationType" th:text="*{durationType}" th:value="WEEK"/>
        <label>Week</label>
      </div>

      <div>
        <input type="radio" th:name="durationType" th:text="*{durationType}" th:value="MONTH"/>
        <label>Month</label>
      </div>

      <div>
        <input type="radio" th:name="durationType" th:text="*{durationType}" th:value="YEAR"/>
        <label>Year</label>
      </div>

    </div>


    <br>

    <label for="note">Note (not visible on invoices, proposals...)</label>
    <textarea type="text" id="note" th:field="*{note}"/>

    <br>

    <label for="tags">Tags/categories</label>
    <select id="tags" th:field="*{tags}" multiple>
      <option value="">Tags</option>
      <option
          th:each="taxType : ${tags}"
          th:value="${taxType}"
          th:text="${taxType}">
      </option>
    </select>

    <br>

    <label for="salePrice">Selling price</label>
    <input type="text" id="salePrice" th:field="*{salePrice}"/>

    <br>

    <label for="taxType">Tax Type</label>
    <select id="taxType" th:field="*{taxType}">
      <option value=""></option>
      <option
          th:each="taxType : ${T(com.gitlab.adilcan.erp.domain.TaxType).values()}"
          th:value="${taxType}"
          th:text="${taxType}">
      </option>
    </select>

    <br>

    <label for="minSalePrice">Min selling price</label>
    <input type="text" id="minSalePrice" th:field="*{minSalePrice}"/>

    <br>

    <label for="taxRate">Tax Rate</label>
    <select id="taxRate" th:field="*{taxRate}">
      <option value=""></option>
      <option
          th:each="taxRate : ${T(com.gitlab.adilcan.erp.domain.TaxRate).values()}"
          th:value="${taxRate}"
          th:text="${taxRate}">
      </option>
    </select>

    <br>

    <button type="submit">Create</button>


  </form>
</div>
</body>
</html>