<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
<body>

<div>
  <table>
    <thead>
     <tr>
       <th>Services not for sale and not for purchase</th>
       <th>Services for sale only</th>
       <th>Services for purchase only</th>
       <th>Services for sale and for purchase</th>
     </tr>
    </thead>
    <tbody>
      <tr>
        <th th:text="${notSaleAndNotPurchaseCount}"></th>
        <th th:text="${forSaleCount}"></th>
        <th th:text="${forPurchaseCount}"></th>
        <th th:text="${forSaleAndForPurchaseCount}"></th>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table>
    <thead>
    <tr>
      <th>Reference</th>
      <th>Label</th>
      <th>Sale Status</th>
      <th>Purchase Status</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service:${services}" th:object="${service}">
      <td th:text="*{reference}"></td>
      <td th:text="*{label}"></td>
      <td th:text="*{saleStatus}"></td>
      <td th:text="*{purchaseStatus}"></td>
      <td th:text="*{description}"></td>
    </tr>

    </tbody>
  </table>
</div>
</body>
</th:block>
</html>