<html xmlns:th="http://www.thymeleaf.org">
<th:block>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple ERP Application</title>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <!-- Page level plugin CSS-->
    <link th:href="@{/css/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h2>Log-in to your account</h2>
        <hr>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form class="form-horizontal" method="post" th:action="@{/login}">

          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username"/>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password"/>
          </div>

          <button class="btn btn-primary" type="submit">Login</button>
        </form>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
  </body>
</th:block>
</html>